@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-space-mono);

  --color-primary: #FFFFFF;
  --color-background-light: #F3F4F6;
  --color-background-dark: #1A1A1A;
  --color-card-dark: #262626;
  --color-accent-pink: #FF007A;
  --color-accent-blue: #00C2FF;
  --color-accent-purple: #8F00FF;
  --color-accent-green: #CCFF00;

  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-hover: rgba(255, 255, 255, 0.1);
  --color-glass-border: rgba(255, 255, 255, 0.1);

  --radius-card: 1.5rem;
  --radius-section: 3rem;

  --animate-ticker: ticker 30s linear infinite;

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility font-nav {
  @apply font-mono text-xs uppercase tracking-widest;
}

@utility font-header {
  @apply font-sans font-black uppercase;
}